<h3>{{ source.type }}</h3>
<table>
    <tr style="cursor: pointer;">
        <th>sitc2</th>
        <th>Product</th>
        {% for y in years %}
          <th>{{ y.year }}</th>
        {% endfor %}
    </tr>
    {% for p in products.all %}
    <tr style="cursor: pointer;">
        <td class="left">{{ p.sitc2 }}</td>
        <td id="{{ source }}_{{ p.id }}" class="left">{{ p.description }}</td>
        {% for v in p.product_year_data.all %}
            {% if v.source == source %}
            <td id="{{ source }}_{{ p.id }}_{{ y.year }}" class="right">{{ v.value }}</td>
            {% endif %}
        {% endfor %}
    </tr>
    {% endfor %}
</table>

