{% extends 'base_tabs.html' %}
{% load static %}


{% block navigation_links %}
{% endblock navigation_links %}


{% block additional_styles %}
<link href="{% static 'styles/logout6.css' %}" rel="stylesheet">
<link href="{% static 'tabs/tab1.css' %}" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
{% endblock additional_styles %}


{% block body %}
<br>
<br>
<br>
<br>
<br>
<h1 style="text-align: center; color:red; margin-top:70px">{{varx}}</h1>
<br><br><br>

<script src="{% static 'js/js.cookie.min.js' %}"></script>
<script type="text/javascript">

     var csrftoken = Cookies.get('csrftoken');
            function csrfSafeMethod(method) {
              // these HTTP methods do not require CSRF protection
              return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
            }
            $.ajaxSetup({
              beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                  xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
              }
            });

     var body = document.getElementById('body');
     var add_tab_ = "{% url 'tabs:add_tab' %}";
     var get_data = "{% url 'tabs:get_data' %}";
     var delete_data = "{% url 'tabs:delete_tab' %}";
     var save_content = "{% url 'tabs:save_content' %}";
     var save_btn_ = "{% url 'tabs:save_btn' %}";
     var saved_btn_ = "{% url 'tabs:saved_btn' %}";
     var saved_btn_code_ = "{% url 'tabs:saved_btn_code' %}";
     var get_saved_btn_code_ = "{% url 'tabs:get_saved_btn_code' %}";
     //alert(saved_btn_code)
     //alert(get_data)
     var dic = {'body_': body, 'url': add_tab_, 'get_data_url':get_data, 'delete_data_url': delete_data,
      'save_data':save_content, 'save_btn': save_btn_, 'saved_btn': saved_btn_, 'saved_btn_code':saved_btn_code_,
      'get_saved_btn_code':get_saved_btn_code_,}

     //alert(JSON.stringify(dic))
  $(document).ready(function () {


     var admin = new Admin(dic);
     admin.call_elements(dic);
  });
    </script>

<script src="{% static 'js/tabs32.js' %}"></script>

{% endblock body %}

