.bg-image {
  background-image: none;
 /* Set a background color for the login page */
}

.bg-text {
  background: none; /* Fallback color */
  background: none; /* Black w/opacity/see-through */
  color: none;
  font-weight: none;
  border: none;
  position: none;
  top: none;
  left: none;
  transform: none;
  z-index: none;
  width: none;
  padding: none;
  text-align: none;
}
